extends ../layouts/common

block content

  .row
    .col-md-12.col-lg-6
      p Mình bắt đầu cuộc sống ở Tokyo vào năm 22 tuổi, bước vào đời bằng rất nhiều mộng mơ.
      p Đôi khi bản thân mình cũng phải giật mình thảng thốt nghĩ sao thời gian trôi cái vèo thế. Ngày ngày miệt mài như một con thoi trên những chuyến tàu điện ngầm chật cứng người giữa Tokyo hoa lệ, chớp mắt cái đã thấy gần 5 năm.
      p Đất nước này đối xử với mình không quá ngọt ngào, đôi khi còn “thương cho roi cho vọt” tát cho những cú váng vất mặt mày. Nhưng dẫu sao cũng toàn là những bài học đau để trưởng thành, để khi mình đã không còn là cháu bé 22 tuổi ngu ngơ và mộng mơ ngày trước, vẫn thấy chặng đường vừa qua có thật nhiều điều trân trọng và yêu thương.
      p Mọi chuyến đi luôn cần có những điểm dừng. Và bây giờ đây, khi ngồi viết những dòng này, cũng là thời điểm mình bắt đầu sửa soạn mọi thứ để chuẩn bị khép lại cuộc hành trình tương đối dài ở xứ sở hoa anh đào.
      p Cảm ơn thật nhiều tới những người bạn đã giúp đỡ mình lập ra trang blog này. Mình vốn không phải là đứa thích viết, nhưng có nhiều thứ, nhất là cảm xúc, nếu không ghi lại ngay mình sợ rồi mình sẽ quên mất. Mình hy vọng Dear my 22 sẽ là một góc cất giữ kỷ niệm (có thể hơi lung tung lộn xộn một chút), những thứ mình đã học được, trải nghiệm được ở Nhật.
      p Giả như có nhiều năm về sau khi đã một chồng hai con đầu hơi bù tóc hơi rối, vẫn có một nơi để mình nhìn lại rồi tự cảm thán tuổi trẻ của mình cũng rực rỡ sắc màu phết chứ chẳng đùa.
      p  “…
      p We're happy free confused and lonely in the best way
      p It's miserable and magical oh yeah
      p …
      p Everything will be alright if we just keep dancing like we're 22
      p …”  
      p.pl (“22” – Taylor Swift)
      p.pl-active.mt-5 Tokyo 7/2020
    .col-lg-6.d-flex.justify-content-center
      img(src='../../assets/anh1.JPG', width="370", height="350")
